{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Editar postagem:</h4>
        <form method="POST" action="/admin/postagens/edit">
            <input type="hidden" name="id" value="{{postagem._id}}">

            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}">

            <label for="slug">Slug:</label>
            <input type="text" name="slug" class="form-control" value="{{postagem.slug}}">

            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}">

            <label for="conteudo">Conteudo:</label>
            <textarea name="conteudo" class="form-control">{{postagem.conteudo}}</textarea>

            <label for="categoria">Categoria:</label>
            <select name="categoria" class="custom-select">
                {{#each categorias}}
                        <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Não há categorias registradas</option>
                {{/each}}
            </select>

            <button class="btn btn-success mt-2" type="submit">Editar postagem</button>
        </form>
        <a href="/admin/postagens"><button class="btn btn-danger mt-2">Voltar</button></a>
    </div>
</div>